Repository northprint/webgl-carousel, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, effects, adapters, tests, build, ci

.github/labeler.yml:

# Configuration for GitHub labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '*.md'

core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/core/**'

effects:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/effects/**'

adapters:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/adapters/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'e2e/**'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'rollup.config.js'
      - 'tsconfig.json'
      - 'package.json'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

fix: Fix lint, build and test errors for GitHub Actions
  .eslintrc.json
  src/WebGLCarousel.ts
  src/adapters/svelte/index.ts
  src/core/CarouselCore.ts
  src/core/ImageLoader.ts
  src/core/WebGL2Renderer.ts
  src/core/WebGLRenderer.ts
  src/effects/CustomEffect.ts
  src/effects/circle.ts
  src/effects/dissolve.ts
  src/effects/glitch.ts
  src/effects/index.ts
  src/effects/morph.ts
  src/effects/pageFlip.ts
  src/effects/pixelDissolve.ts
  src/index-core.ts
  src/index-umd.ts
  src/index.ts
  src/physics/PhysicsEngine.ts
  src/utils/MeshGenerator.ts
  tsconfig.json
Labels: core, effects, adapters, build

fix: Add tslib dependency for Rollup TypeScript plugin
  package-lock.json
  package.json
Labels: build

fix: resolve all TypeScript strict mode errors
  .github/workflows/ci.yml
  src/WebGLCarousel.ts
  src/adapters/react/WebGLCarouselReact.tsx
  src/adapters/vue/WebGLCarouselVue.ts
  src/core/CarouselCore.ts
  src/core/EffectManager.ts
  src/core/WebGLRenderer.ts
  src/effects/BaseEffect.ts
  src/effects/CustomEffect.ts
  src/physics/PhysicsEngine.ts
  src/types.ts
  src/utils/MeshGenerator.ts
Labels: core, effects, adapters, ci

test: fix unit test errors and improve test mocks
  src/adapters/vue/WebGLCarouselVue.ts
  tests/setup.ts
  tests/setup/webglMock.ts
  tests/unit/WebGLCarousel.basic.test.ts
  tests/unit/adapters/vue/WebGLCarouselVue.test.ts
  tests/unit/core/ImageLoader.test.ts
  tests/unit/effects/effects.test.ts
Labels: adapters, tests

test: fix all remaining mock issues in unit tests
  tests/unit/WebGLCarousel.basic.test.ts
  tests/unit/adapters/vue/WebGLCarouselVue.test.ts
  tests/unit/core/ImageLoader.test.ts
  tests/unit/effects/effects.test.ts
Labels: tests

chore: adjust jest coverage thresholds to realistic values
  jest.config.cjs
Labels: none

fix: convert e2e-server.js to ES module format
  e2e-server.js
Labels: none

Improve documentation demo UI with modern dark theme and enhanced interactions
  docs/demo.html
Labels: documentation

Fix demo page image loading issues
  docs/demo.html
Labels: documentation

Fix demo page loading issues with improved error handling
  docs/demo.html
Labels: documentation

Fix E2E test timeout issues in GitHub Actions
  .github/workflows/ci.yml
  e2e/basic.spec.ts
  e2e/carousel-basic-simple.spec.ts.disabled
  e2e/carousel-basic.spec.ts.disabled
  e2e/carousel-debug.spec.ts.disabled
  e2e/carousel-effects.spec.ts.disabled
  e2e/carousel-load-debug.spec.ts.disabled
  e2e/carousel-performance.spec.ts.disabled
  e2e/carousel-responsive.spec.ts.disabled
  e2e/check-network.spec.ts.disabled
  e2e/debug-exports.spec.ts.disabled
  playwright.config.ts
Labels: tests, ci

Fix flip effects not transitioning to next image
  docs/dist
  src/effects/flip.ts
Labels: documentation, effects

Remove PageFlip effect completely
  README.md
  demos/dev/debug-pageflip.html
  demos/dev/test-pageflip.html
  demos/index.html
  docs/demo.html
  docs/index.html
  src/effects/index.ts
  src/effects/pageFlip.ts
  tests/unit/effects/effects.test.ts
Labels: documentation, effects, tests

Add custom shader demo to documentation page
  docs/demo.html
Labels: documentation

Fix GitHub repository links in documentation
  docs/index.html
Labels: documentation

Fix flip shader uProgress redefinition error
  src/effects/flip.ts
Labels: effects

Replace demo iframe with link to demo page
  docs/index.html
  docs/styles.css
Labels: documentation

Fix flip effect to properly show next image
  src/effects/flip.ts
Labels: effects

chore: bump version to 0.2.0
  CHANGELOG.md
  package.json
Labels: documentation, build

fix: improve flip effect to show proper 3D rotation
  docs/demo.html
  src/core/CarouselCore.ts
  src/core/WebGLRenderer.ts
  src/effects/flip.ts
Labels: documentation, core, effects

chore: remove debug console.log statements
  src/core/CarouselCore.ts
  src/core/WebGL2Renderer.ts
Labels: core

0.2.1
  package-lock.json
  package.json
Labels: build

fix: カスタムシェーダーのエラーと Jest 設定の修正
  docs/demo.html
  jest.config.cjs
  src/index-umd.ts
  tests/unit/effects/effects.test.ts
Labels: documentation, tests

fix: カスタムシェーダーの適用とリップルエフェクトの改善
  docs/demo.html
  src/WebGLCarousel.ts
  src/adapters/vue/WebGLCarouselVue.ts
  src/core/CarouselCore.ts
  src/effects/CustomEffect.ts
  src/effects/index.ts
  src/index-umd.ts
  src/types.ts
Labels: documentation, core, effects, adapters

fix: TypeScript型エラーとテストの修正
  src/WebGLCarousel.ts
  src/adapters/react/WebGLCarouselReact.tsx
  tests/unit/WebGLCarousel.basic.test.ts
Labels: adapters, tests

0.2.2
  package-lock.json
  package.json
Labels: build

Fix initial display aspect ratio issue and refactor WebGL renderers
  docs/demo.html
  src/core/BaseWebGLRenderer.ts
  src/core/CarouselCore.ts
  src/core/WebGL2Renderer.ts
  src/core/WebGLRenderer.ts
  src/effects/slide.ts
Labels: documentation, core, effects

Add English README and reduce emoji usage
  README.ja.md
  README.md
  package.json
Labels: documentation, build

Add English documentation with cyber theme design
  docs/index-en.html
  docs/styles-cyber.css
  src/core/BaseWebGLRenderer.ts
  src/core/CarouselCore.ts
  src/core/WebGL2Renderer.ts
  src/core/WebGLRenderer.ts
Labels: documentation, core

Fix TypeScript errors and update docs
  docs/demo-ja.html
  docs/demo.html
  docs/index-ja.html
  docs/index.html
  src/core/WebGL2Renderer.ts
Labels: documentation, core

Fix docs/dist not being tracked by Git
  .gitignore
  docs/dist/carousel-effects.cjs.js
  docs/dist/carousel-effects.cjs.js.map
  docs/dist/carousel-effects.esm.js
  docs/dist/carousel-effects.esm.js.map
  docs/dist/webgl-carousel.cjs.js
  docs/dist/webgl-carousel.cjs.js.map
  docs/dist/webgl-carousel.d.ts
  docs/dist/webgl-carousel.esm.js
  docs/dist/webgl-carousel.esm.js.map
  docs/dist/webgl-carousel.umd.js
  docs/dist/webgl-carousel.umd.js.map
Labels: documentation

Fix WebGLCarousel constructor reference in demo pages
  docs/demo.html
  docs/index-ja.html
  docs/index.html
Labels: documentation

Fix CI error: use rm -rf for directory removal
  .github/workflows/pages.yml
Labels: ci

Move docs/dist generation to CI only
  .gitignore
  docs/dist/carousel-effects.cjs.js
  docs/dist/carousel-effects.cjs.js.map
  docs/dist/carousel-effects.esm.js
  docs/dist/carousel-effects.esm.js.map
  docs/dist/webgl-carousel.cjs.js
  docs/dist/webgl-carousel.cjs.js.map
  docs/dist/webgl-carousel.d.ts
  docs/dist/webgl-carousel.esm.js
  docs/dist/webgl-carousel.esm.js.map
  docs/dist/webgl-carousel.umd.js
  docs/dist/webgl-carousel.umd.js.map
Labels: documentation

Add Unsplash photo credits to demo page
  docs/demo.html
Labels: documentation

Update demo-ja.html to match demo.html structure
  docs/demo-ja.html
Labels: documentation

Update README and package.json for npm
  README.md
  package.json
Labels: documentation, build

Bump version to 0.2.4
  package.json
Labels: build

Fix GitHub release workflow permissions
  .github/workflows/release.yml
Labels: ci
