Repository northprint/webgl-carousel, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, build, ci, core, effects, framework, demo, dependencies

Fix lint and test errors
  src/core/CarouselCore.ts
  src/core/WebGL2Renderer.ts
  src/effects/glitch.ts
  src/index-core.ts
  src/index.ts
  src/utils/webglHelpers.ts
  tests/unit/index.test.ts
Labels: test, core, effects

Fix test framework migration to Vitest and ESLint v9
  eslint.config.js
  jest.config.cjs
  package-lock.json
  package.json
  tests/setup.ts
  tests/setup/webglMock.ts
  tests/types/testTypes.ts
  tests/unit/WebGLCarousel.basic.test.ts
  tests/unit/WebGLCarousel.validation.test.ts
  tests/unit/adapters/react/WebGLCarouselReact.test.tsx
  tests/unit/adapters/svelte/WebGLCarouselSvelte.test.ts
  tests/unit/adapters/vue/WebGLCarouselVue.test.ts
  tests/unit/constants/defaults.test.ts
  tests/unit/core/Canvas2DFallback.test.ts
  tests/unit/core/CarouselCore.test.ts
  tests/unit/core/EffectManager.test.ts
  tests/unit/core/EventEmitter.test.ts
  tests/unit/core/ImageLoader.test.ts
  tests/unit/core/StateManager.test.ts
  tests/unit/core/WebGLRenderer.test.ts
  tests/unit/effects/effects.test.ts
  tests/unit/index.test.ts
  tests/unit/ui/StyleManager.test.ts
  tests/unit/ui/UIController.test.ts
  tests/unit/utils/ErrorHandler.test.ts
  tests/unit/utils/Logger.test.ts
  vitest.config.ts
Labels: test, build, dependencies

Update GitHub Actions workflows for Node.js 22 and Vitest
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci

Fix TypeScript configuration for Vitest
  .github/workflows/pr-labels.yml
  src/utils/testHelpers.ts
  tsconfig.json
Labels: build, ci

Add Vitest coverage dependency
  package-lock.json
  package.json
Labels: build, dependencies

Suppress test logs in CI environment
  tests/setup.ts
Labels: test

Fix test coverage configuration and suppress logs
  tests/setup.ts
  vitest.config.ts
Labels: test

fixed test
  src/utils/webglHelpers.ts
  tests/unit/core/WebGL2Renderer.test.ts
  tests/unit/utils/ResizeObserverManager.test.ts
  tests/unit/utils/webglHelpers.test.ts
Labels: test

Fix ESLint errors and improve test coverage
  src/utils/Logger.ts
  src/utils/webglHelpers.ts
Labels: none

.github/labeler.yml:

# Configuration for PR labeler
# https://github.com/actions/labeler

# Add 'documentation' label to any changes within 'docs' folder or any .md files
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - '**/*.md'
      - README.*

# Add 'test' label to any changes in test files
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'
      - tests/**
      - __tests__/**
      - test/**
      - e2e/**
      - playwright/**

# Add 'build' label to any changes in build configuration
build:
  - changed-files:
    - any-glob-to-any-file:
      - rollup.config.js
      - tsconfig.json
      - package.json
      - package-lock.json
      - .eslintrc.*
      - .prettierrc.*
      - vite.config.*

# Add 'ci' label to any changes in GitHub Actions
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**
      - .github/**/*.yml
      - .github/**/*.yaml

# Add 'core' label to core library changes
core:
  - changed-files:
    - any-glob-to-any-file:
      - src/core/**
      - src/WebGLCarousel.ts
      - src/types/**

# Add 'effects' label to effect-related changes
effects:
  - changed-files:
    - any-glob-to-any-file:
      - src/effects/**
      - src/shaders/**

# Add 'framework' label to framework adapter changes
framework:
  - changed-files:
    - any-glob-to-any-file:
      - src/adapters/**
      - src/react/**
      - src/vue/**
      - src/svelte/**

# Add 'demo' label to demo-related changes
demo:
  - changed-files:
    - any-glob-to-any-file:
      - demos/**
      - examples/**
      - docs/demo*.html
      - docs/*.css

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - package.json
      - package-lock.json
      - yarn.lock
      - pnpm-lock.yaml
